body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #0f0f0f; /* Light gray background */
    color: #ffffff; /* Darker text for better contrast */
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #0f0f0f; /* White background for the content area */
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0); /* Soft shadow for depth */
    border-radius: 0px; /* Rounded corners */
}

#logo {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

h1 {
    margin-top: 20px;
}

.subtitle {
    font-size: 18px;
    color: #b6b6b6;
    margin-bottom: 20px;
}

.promptInput {
    width: 70%; /* Relative width for responsiveness */
    max-width: 1500px; /* Maximum width */
    height: 500px; /* Height */
    border-radius: 25px; /* Corner radius */
    margin-bottom: 20px; /* Space between textarea and button */
    background-color: #fff; /* White background */
    border: 1px solid #dfe1e5; /* Light grey border */
    box-shadow: 0 1px 6px rgba(32,33,36,0.28); /* Subtle shadow */
    padding: 15px; /* Padding inside the textarea */
    font-size: 32px; /* Font size */
    color: #333; /* Font color */
    outline: none; /* Removes the default focus outline */
}

textarea:focus {
    box-shadow: 0 1px 6px rgba(32,33,36,0.48); /* Darker shadow on focus */
    border-color: rgba(223,225,229,0); /* Optional: Changes border color on focus */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Makes the button a block element */
    margin: 20px auto; /* Centers the button */
}

button:hover {
    background-color: #0056b3; /* Darker on hover */
}

#logoDisplay img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}
